.cont-home{
    background-image: url();
    position: relative;
    background-position: center;
    background-size: cover;
    text-align: center; 
    height: 10vh;    
    flex: 1;
}
.churras {
    position: absolute;
    top: 500%;
    left: 200px;
}
.lanchonete {
    position: relative;
    top:440%;
    left: 0%;
    size: 10%;
    
}
.cont-produto{
    background-image: url();
    background-position: center;
    flex: 1;
}
.cont-contato{
    background-image: url();
    background-position: center;
    object-fit: cover;
    flex: 1;
}
.cont-pizza{
    background-image: url();
    background-position:  center;
    flex: 1;
}